<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.solareye.dodidone">


    <permission
        android:name="mobile.solareye.dodidone.READ_EVENTS"
        android:description="@string/permission_description"
        android:label="@string/permission_label" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <!--<action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />-->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create"
            android:theme="@style/AppTheme.TransparentActivity"/>

        <provider
            android:name=".providers.EventsContentProvider"
            android:authorities="mobile.solareye.dodidone.provider"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/provider_label"
            android:readPermission="mobile.solareye.dodidone.READ_EVENTS" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
