<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.solareye.dodidone" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <permission
        android:name="mobile.solareye.dodidone.READ_EVENTS"
        android:description="@string/permission_description"
        android:label="@string/permission_label" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".providers.EventsContentProvider"
            android:authorities="mobile.solareye.dodidone.provider"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/provider_label"
            android:readPermission="mobile.solareye.dodidone.READ_EVENTS" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>

                <!-- <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".services.ReminderNotificationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receivers.NotificationLaunchReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="mobile.solareye.dodidone.launchnotificationreceiver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ReminderNotificationIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
